#canvas-container {
  height: 100%;
}

#turn {
  margin-bottom: 0;
}

#level {
  margin-top: 0;
}

header {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Roboto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
